# Build directories
build/
.android/
.ios/
.windows/
.macos/
.linux/
.web/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
*.dill
*.apk
*.aab
*.keystore
*.cache.dill.track.dill

# Specific large files
**/merged_native_libs/**/libflutter.so
**/app-debug.apk
**/app.dill
**/kernel_blob.bin
**/zip-cache/*
**/flutter-apk/*.apk

# Android
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/intermediates/merged_native_libs/
**/intermediates/incremental/
**/intermediates/assets/

# iOS
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Windows/Linux/MacOS
**/windows/flutter/
**/linux/flutter/
**/macos/flutter/

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

StatusCode        : 200
StatusDescription : OK
Content           : # Do not remove or rename entries in this file, only add new ones
                    # See https://github.com/flutter/flutter/issues/128635 for more context.
                    
                    # Miscellaneous
                    *.class
                    *.lock
                    *.log
                    *.pyc
                    *.swp
                    .DS_Store
                    ....
RawContent        : HTTP/1.1 200 OK
                    Connection: keep-alive
                    Content-Security-Policy: default-src 'none'; style-src 'unsafe-inline'; sandbox
                    Strict-Transport-Security: max-age=31536000
                    X-Content-Type-Options: nosniff
                    ...
Forms             : {}
Headers           : {[Connection, keep-alive], [Content-Security-Policy, default-src 'none'; style-src 
                    'unsafe-inline'; sandbox], [Strict-Transport-Security, max-age=31536000], [X-Content-Type-Options, 
                    nosniff]...}
Images            : {}
InputFields       : {}
Links             : {}
ParsedHtml        : mshtml.HTMLDocumentClass
RawContentLength  : 3692